.FullHeight {
  height: 100vh;
}
.LoginImage {
  background-image: url(../../../public/assets/images/Club-login.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main-bg {
  background-image: url(../../../public/assets/images/main-bg.png);
  background-size: cover;
}